<!doctype html>
<html lang="en">
  <head>
    <meta charset="{{site.charset}}">
    <title>{{ wp_title }}</title>
    <meta name="description" content="{{site.description}}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{site.pingback_url}}">
    {{function('wp_head')}}
    {%- block head -%}{%- endblock head -%}
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Noto+Sans:400,700" rel="stylesheet">
    {%- block styles -%}
      <link rel="stylesheet" href="{{site.theme.link}}/assets/css/index.css">
    {%- endblock styles -%}
  </head>
  <body class="page page--{{post.slug}} page--{{post.post_type}} {{body_class}}">
    <div class="page__wrapper">

      {%- block header -%}
        <header class="page__header">
          {%- include 'header.twig' -%}
        </header>
      {%- endblock header -%}

      <main class="page__content">
        {%- block content -%}Sorry, no content!{%- endblock content -%}
      </main>

      {%- block footer -%}
        <footer class="page__footer">
          {%- include 'footer.twig' -%}
        </footer>
      {%- endblock footer -%}

    </div>
    {{wp_footer}}
    {%- block scripts -%}
      <script src="{{site.theme.link}}/assets/js/index.js"></script>
    {%- endblock scripts -%}
  </body>
</html>
