{%- if pagination.pages -%}

  <nav class="pagination">
    <ul class="pagination__list">

      {# previous page #}
      <li class="pagination__item pagination__item--deictic">
        {%- if pagination.prev -%}
          <a href="{{pagination.prev.link}}" class="pagination__link pagination__link--deictic" tabindex="0">&#60;</a>
        {%- else -%}
          <a class="pagination__link pagination__link--deictic" aria-disabled="true" tabindex="-1">&#60;</a>
        {%- endif -%}
      </li>

      {# page indicator #}
      <li class="pagination__item pagination__item--indicator">
        <p class="pagination__link pagination__link--indicator">{{pagination.current}} / {{pagination.total}}</p>
      </li>

      {# enumerated pages #}
      {%- for page in pagination.pages -%}
        <li class="pagination__item pagination__item--enumerated">
          {% set current = 'current' in page.class %}
          <a href="{{page.link}}" class="pagination__link pagination__link--enumerated{{ current ? ' is-current' }}" tabindex="0">{{page.title}}</a>
        </li>
      {%- endfor -%}

      {# next page #}
      <li class="pagination__item pagination__item--deictic">
        {%- if pagination.next -%}
          <a href="{{pagination.next.link}}" class="pagination__link pagination__link--deictic" tabindex="0">&#62;</a>
        {%- else -%}
          <a class="pagination__link pagination__link--deictic" aria-disabled="true" tabindex="-1">&#62;</a>
        {%- endif -%}
      </li>

    </ul>
  </nav>

{%- endif -%}
