{%- extends 'base.twig' -%}

{%- block content -%}
  <header class="content-header">
    <figure class="logo-container">
      {%- include 'graphics/logo.twig' -%}
    </figure>
  </header>

  <span class="downline downline--short"></span>

  <figure class="emoji-panel">
    {%- include 'graphics/emoji-food.twig' with {'default': '#1f958'} -%}
    {%- include 'graphics/emoji-drink.twig' with {'default': '#1f37b'} -%}
    {%- include 'graphics/emoji-people.twig' with {'default': '#1f481-1f3ff'} -%}
  </figure>

  <span class="downline downline--short"></span>

  <p class="introlede">Welcome to Friend's Dinner! We're a small group of friends in Boston that gets together once a week to cook and share a homemade meal, have a few drinks, and have a good fucking time doing so. This here is a collection of the recipes that we've made thus far. Having rigorously tested each one, we can guarantee that they're all pretty damn tasty. ;-)</p>

  <span class="downline downline--long"></span>

  <section class="recipes-gallery">
    <h1 class="recipe-gallery__heading">Recipes</h1>
    <div class="recipe-teases">
      {%- for recipe in recipes|slice(0, 8) -%}
        <article class="recipe-tease">
          <a class="recipe-tease__link" href="{{recipe.link}}">
            <div class="recipe-tease__figure">
              <div class="recipe-tease__dopple"></div>
              <div class="recipe-tease__dopple"></div>
              <div class="recipe-tease__dopple"></div>
              <div class="recipe-tease__image-wrapper">
                <div class="recipe-tease__image" style="background-image: url({{recipe.images[0].src}});"></div>
              </div>
            </div>
            <h2 class="recipe-tease__title">{{recipe.title}}</h2>
            <time class="recipe-tease__date" datetime="{{recipe.night_made|date('c')}}">{{recipe.night_made|date('M. j')}}</time>
          </a>
        </article>
      {%- endfor -%}
    </div>
  </section>
{%- endblock content -%}
